.details_container{
    padding-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.details_header{

}

.details_header_info{

}

.details_header_name{

}

.details_main_img_container{

}

.details_main_img{
    max-width: 100%;
    height: autos;
}