.header-container{
    display: flex;
    justify-content: space-around;
}

.Header-burger-container{
    width: 10%;
    display: none;
}

.Header-tittle-container{
    width: 80%;
    display: flex;
    justify-content: center;
}

.Header-tittle{

}