.header-main-container{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header-container{
    display: flex;
    width: 100%;
    background-color:whitesmoke;
}

.Header-burger-container{
    display: none;
}

.Header-tittle-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Header-tittle{

}

hr.header-hr{
    width: 100%;
    margin-block-start: 0rem;
    box-shadow: 20px 2px 6px rgba(40, 44, 51, 0.2);
}

@media (max-width: 767px) {
    .Header-burger-container{
        width: 10%;
        display: flex;
        z-index: 10;
    }
}