.header-container{
    display: flex;
}

.Header-burger-container{
    display: none;
}

.Header-tittle-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Header-tittle{

}

@media (max-width: 767px) {
    .Header-burger-container{
        width: 10%;
        display: flex;
        z-index: 10;
    }
}