.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-homage-container{

}

.navbar-uml-container{

}

.navbar-merise-container{

}

@media (max-width: 767px) {
    .navbar-container{
        display: none;
    }
}